.grey_button
  color: white
  height: 50px
  padding: 10px 20px
  border-radius: 16px
  background: #222423
  border: none
  cursor: pointer
  font-size: 14px
  transition: all 1s
  &:hover
    background: rgba(34, 36, 35, 0.5)
  &:disabled
    cursor: not-allowed
    opacity: 0.4

.grey_navigation_link
  background: #373A39
.color_button
  padding: 13px 30px
  border-radius: 16px
  border: none
  cursor: pointer
  font-size: 14px
  height: 50px
  background: linear-gradient(to right, #F08319, #E51B2F)
  color: white
  transition: all 1s
  &:hover
    opacity: 0.5